/* here you can put your own css to customize and override the theme */
html, 
body {
    min-width: 100%;
    min-height: 100%;
}

.hidden {
    display: none;
}

.hover, .hover:hover {
	cursor: pointer;
	text-decoration: none;
}
.unhover, .unhover:hover {
	cursor: default;
	text-decoration: none;
}
.padtop25 {
	padding-top:15%;
}
.fwbold {
    font-weight: bold;
}
.indexheader {
    background-color: #F7F7F7 !important;
    color: #000000 !important;
}
.indexbody {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}
.urllink {
	cursor: pointer;
	font-weight: bold;
	color: #000000 !important;
}
.urllink:hover {
	text-shadow: black 0.1em 0.1em 0.1em;
	text-decoration: none;
}
.fleft {
	float:left !important;
}
.fright {
	float: right;
}
.clearf {
	clear:both;
}
.ptop10 {
padding-top:10px;
}
.marlm10 {
margin-left:-10px !important;
}
.marlm15 {
margin-left:-15px !important;
}
.pleft {
padding-left:5px;
}
.pleft10 {
padding-left:10px;
}
.pleft15 {
padding-left:15px;
}
.pleft20 {
padding-left:20px;
}
.pright {
padding-right:5px !important;
}
.red {
color:red;
}
.green {
color:green;
}
.blue {
color:blue;
}
.yellow {
color:yellow;
}
.brown {
color:brown;
}
.black {
color:black;
}
.button {
background:url(../img/pagingBg.png) repeat-x scroll 0 0 transparent;
border:1px solid #D5D5D5;
color:#666;
font-size:11px;
font-weight:700;
height:25px;
text-decoration:none;
cursor:pointer;
padding:4px 8px;
}

.button:hover {
background:#E7E1F7;
color:#000;
text-decoration:none;
}
.buttondisabled:hover {
background:#E7E1F7;
color:#666;
text-decoration:none;
cursor:disabled;
}
.buttondisabled {
background:#E7E1F7;
color:#000;
text-decoration:none;
border:1px solid #D5D5D5;
color:#666;
font-size:11px;
font-weight:700;
height:25px;
cursor:pointer;
padding:4px 8px;
}

.button:focus {
color:#666;
text-decoration:none;
}

.buttonlink {
background:url(../img/pagingBg.png) repeat-x scroll 0 0 transparent;
border:1px solid #D5D5D5;
color:#666;
font-weight:700;
height:15px;
text-decoration:none;
cursor:pointer;
padding:2px 2px 1px 3px;
}

.buttonlink:hover {
background:#E7E1F7;
color:#000;
text-decoration:none;
}
.buttonlink:active,.button:active {
position:relative;
top:1px;
}
#paging a[type='select'] {
	background:#2F3840;
	color:#FFF;
	cursor:default;
	border:1px solid #D5D5D5;
	font-size:11px;
	font-weight:700;
	height:25px;
	text-decoration:none;
	padding:4px 8px;
}
.center {
	text-align:center !important;
}
.headblockdefault {
	display:                 flex;
	display:                 -webkit-flex; /* Safari 8 */
	flex-wrap:               wrap;
	-webkit-flex-wrap:       wrap;         /* Safari 8 */
	justify-content:         center;
	-webkit-justify-content: center;       /* Safari 8 */
	display:table;
}
.blockdefault {
	width: 160px;
	height: 150px;
	border-radius: 100%;
	text-align:center;
	display:table;
	float: left;
	color: white !important;
	margin-right: 10px;
	margin-bottom: 10px;
}
.blockdefault:hover {
	background-color: #F1707C;
}
.blockdefault:last-child {
	margin-right: 0px;
}
.blockdefault i {
	font-size: 80px;
	padding-bottom: 10px;
}
.blockdefault span {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	word-break: break-all;
	white-space: normal;
}
.pad5 {
	padding: 5px;
}
.pad10 {
	padding: 10px;
}
#table .link {
	display: block !important;
	padding: 10px !important;
	color: #000 !important;
	text-decoration: none !important;
}

#table .link:hover {
	background: #E7E1F7 !important;
	text-decoration: none;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	border-top:none;
	text-shadow:0 1px 0 rgba(255,255,255,.5);
}

#table .width100c {
min-width:100px;
max-width:100px;
width:100px;
text-align:center;
}

#table .width110c {
min-width:110px;
max-width:110px;
width:110px;
text-align:center !important;
}

#table table {
border-collapse:collapse;
border-spacing:0;
width:100%;
}

.bordered {
border:solid #ccc 1px;
-webkit-box-shadow:0 1px 1px #ccc;
-moz-box-shadow:0 1px 1px #ccc;
box-shadow:0 1px 1px #ccc;
background:;
}

.bordered tr:hover {
background:#E7E1F7;
}

.bordered td,.bordered th {
border-left:1px solid #ccc;
border-top:1px solid #ccc;
text-align:left;
}

.bordered td {
	padding: 10px;
}

.bordered th {
background-color:#E1E1E1;
-webkit-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
border-top:none;
text-shadow:0 1px 0 rgba(255,255,255,.5);
}

.bordered .bottom {
background:#f5f5f5;
-webkit-box-shadow:0 1px 0 rgba(255,255,255,.8);
-moz-box-shadow:0 1px 0 rgba(255,255,255,.8);
box-shadow:0 1px 0 rgba(255,255,255,.8);
}

.legend {
background:#E5E5E5;
color:#000;
font-weight:700;
padding:5px 10px;
font-size: 12px;
margin-bottom:5px;
}

.fieldset {
background:#F8F8FF;
margin-bottom:20px;
margin-left:15px;
margin-right:15px;
}

.defblue {
	color: #6DCBDC;
}
.defred {
	color: #F1707C;
}
.bgdefblue {
	background-color: #6DCBDC;
}
.bgdefred {
	background-color: #F1707C;
}
.btn.default.active, .btn.default.active:hover {
	background-color: #6DCBDC;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
    background: #6DCBDC !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a {
    background: #6DCBDC !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #6DCBDC !important;
	border-left: 4px solid white !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
    background: #6DCBDC !important;
	border-left: 4px solid white !important;
}

.login {
    background: #6dcbdc;
	background: -moz-linear-gradient(-45deg, #6dcbdc 0%, #f1707c 100%);
	background: -webkit-linear-gradient(-45deg, #6dcbdc 0%,#f1707c 100%);
	background: linear-gradient(135deg, #6dcbdc 0%,#f1707c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dcbdc', endColorstr='#f1707c',GradientType=1 );
}

.loginfooter {
    /*color: #d9d9d9 !important;*/
    color: white !important;
}

.logo {
    margin-bottom: -30px !important;
}

.fileinput {
	margin-bottom: 0px !important;
}

.contentimage {
	display:inline-block;
    position:relative;
}

.contentimage a {
	position:absolute;
    top:5px;
    right:5px;
    background:blue;
    color:#FFF;
}

.img-tool + .tooltip > .tooltip-inner {
	background-color: white; 
	color: #FFFFFF; 
	border: 1px solid black; 
	padding: 10px;
	height: 250px;
	font-size: 20px;
}

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/